header {
  color: #3c3026;
  background-color: #557a95;
  border: 1px solid;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Lato", Sans serif;
  font-size: 15px;
  text-align: Right;
}

#titel {
  font-family: "Libre Baskerville", Serif;
  font-size: 30px;
  text-align: Left;
}

h2,
h3 {
  color: #5d5c61;
}

body {
  font-family: "Lato", Sans serif;
  font-size: 16px;
}

footer {
  color: #3e3228 !important;
  background-color: #557a95;
  font-size: 1.5em;
  border: 1px solid;
  border-radius: 10px;
  padding-top: 20px;
}

#socialmedia {
  display: inline;
}

a:link {
  color: #3e3228 !important;
  text-decoration: none;
}

a:visited {
  color: #3e3228 !important;
  text-decoration: none;
}

a:hover {
  color: #3e3228 !important;
  text-decoration: none;
}

a:active {
  color: #3e3228 !important;
  text-decoration: none;
}
